<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" defaultHref="burnered"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openConfig()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Lista de Ocorrências</ion-title>

  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="mainConfig">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Opções</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-button fill="clear" (click)="sendDataToServer()">
          <ion-icon name="cloud-upload"></ion-icon>&nbsp;&nbsp;Enviar todas as ocorrências
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">URL do serviço de envio</ion-label>
        <ion-input type="url" color="medium" (ionBlur)="storeSyncURL()" [(ngModel)]="syncURL"></ion-input>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>  

<ion-content padding>
  <ion-list *ngIf="model">
    <ion-card class="template-card">
      <ion-menu side="end" menuId="newCardTools">
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-button fill="clear" (click)="takePicture(1)">
                <ion-icon name="camera"></ion-icon>&nbsp;&nbsp;Capturar foto
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-button fill="clear" (click)="takePicture(0)">
                <ion-icon name="images"></ion-icon>&nbsp;&nbsp;Foto da galeria
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-button fill="clear" (click)="goToMap()">
                <ion-icon name="map"></ion-icon>&nbsp;&nbsp;Ajustar local
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-button fill="clear" (click)="save()">
                <ion-icon name="done-all"></ion-icon>&nbsp;&nbsp;Salvar ocorrência
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>

      <ion-card-content>

        <ion-button fill="clear" class="menu-card" (click)="openNewCardTools()">
          <ion-icon size="small" name="more"></ion-icon>
        </ion-button>
        
        <ion-thumbnail slot="start">
          <img (click)="takePicture(1)" [src]="model.photoURI" *ngIf="model && model.photoURI">
        </ion-thumbnail>

      </ion-card-content>
      
      <ion-card-content>
        <ion-textarea class="template-text" autofocus="true" name="description" [(ngModel)]="model.description" placeholder="Descreva a ocorrência aqui..."></ion-textarea>
      </ion-card-content>

      <ion-card-content>
        <ion-note slot="start" *ngIf="model.lat && model.lng">Usando coordenadas GPS. Use o menu para redefinir.</ion-note>
      </ion-card-content>

    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card class="card-items" *ngFor="let item of occurrences">
      <ion-menu side="end" menuId="{{ item.key }}">
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-button fill="clear" (click)="removeOccurrence(item)">
                <ion-icon name="trash"></ion-icon>&nbsp;&nbsp;Remover copia local
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-button fill="clear" (click)="sendDataToServer(item)" *ngIf="!item.occurrence.send">
                <ion-icon name="cloud-upload"></ion-icon>&nbsp;&nbsp;Enviar ocorrência
              </ion-button>
              <ion-button color="success" size="small" fill="clear" *ngIf="item.occurrence.send">
                <ion-icon size="small" name="cloud-done"></ion-icon>&nbsp;&nbsp;Ocorrência já foi enviada
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>

      <ion-card-content>
        <ion-button fill="clear" class="menu-card" (click)="openEachCardTools(item)">
          <ion-icon size="small" name="more"></ion-icon>
        </ion-button>
      </ion-card-content>

      <ion-card-content>
        <ion-thumbnail slot="start">
          <img [src]="item.occurrence.photoURI" *ngIf="item.occurrence.photoURI">
        </ion-thumbnail>
      </ion-card-content>
      
      <ion-card-content>
        <ion-note slot="start" *ngIf="item.occurrence.timeref">Criação: {{ item.occurrence.timeref | date:'dd/MM/yyyy' }}</ion-note>
      </ion-card-content>
      <ion-card-content>
        <ion-note slot="start" *ngIf="item.occurrence.description">Descrição: {{ item.occurrence.description }}</ion-note>
      </ion-card-content>
      <ion-card-content>
        <ion-note slot="start" *ngIf="item.occurrence.lat && item.occurrence.lng">Coordenada: ( {{ item.occurrence.lat }} , {{ item.occurrence.lng }} )</ion-note>
      </ion-card-content>

      <ion-card-content>
        <ion-note slot="start" *ngIf="item.occurrence.send">Você já enviou esta ocorrência</ion-note>
      </ion-card-content>
      <ion-card-content>
        <ion-progress-bar type="indeterminate" *ngIf="item.occurrence.sending"></ion-progress-bar>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>