<ion-header>

  <ion-toolbar>
    <ion-title>Relatar ocorrência</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="headertext">
          Instruções
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="text1">
          Para relatar uma ocorrência:
          <ul>
            <li>Definir um local usando o GPS do seu Smartfone</li>
            <li>Capturar uma foto do local que represente o evento informado</li>
            <li>Fazer uma breve descrição</li>
            <li>Salvar as informações</li>
            <li>Revisar e nos enviar</li>
          </ul>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="text1">
          Utilize o menu abaixo para começar.
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="buttontext">
            <ion-button expand="block" (click)="goToCamera()">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
            Capturar foto
          </ion-col>
          <ion-col size="4" class="buttontext">
            <ion-button expand="block" (click)="goToMap()">
              <ion-icon name="pin"></ion-icon>
            </ion-button>
            Ajustar local
          </ion-col>
          <ion-col size="4" class="buttontext">
            <ion-button expand="block" (click)="goToLocations()">
              <ion-icon name="list-box"></ion-icon>
            </ion-button>
            Minha lista
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>