.ios, .md {
    app-burnered {

        --background: white;

        ion-content {
            width:100%;
            --background: white;
        }
        ion-footer ion-toolbar ion-button {
            color:azure;
            font-size: large;
        }

        ion-footer ion-toolbar {
            --background: #38424d;
        }

        .headertext{
            font-size: x-large;
            border-bottom: solid 1px #525151;
            text-align: center;
        }

        .text1 {
            margin-top: 2%;
            text-align:left;
            color: #383737;
            font-size: large;
        }

        .buttontext {
            text-align: center;
            color: white;
        }

        ul {
            list-style-type: decimal;
        }
        li {
            line-height: 1.3em;
        }
    }
}
