<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" defaultHref="burnered"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openConfig()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
      <ion-button style="visibility: hidden;" id="infowindowhidden" (click)="useCurrentCoords()"></ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="mapConfig">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Configurações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-button fill="clear" (click)="useCurrentCoords()">
          <ion-icon name="locate"></ion-icon>&nbsp;&nbsp;Usar coordenada atual
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-toggle [ngStyle]="{'color': btColor }" [(ngModel)]="currentCoord" (ionChange)="toggleCurrentCoord()"></ion-toggle>
        <ion-label color="primary">Ver/ajustar coordenada atual</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle [(ngModel)]="gpsState" (ionChange)="toggleGPS()"></ion-toggle>
        <ion-label color="primary">GPS contínuo</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-toggle [(ngModel)]="eventsByMe" (ionChange)="toggleByMe()"></ion-toggle>
        <ion-label color="primary">Ver minhas ocorrências</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle [(ngModel)]="eventsByOthers" (ionChange)="toggleByOthers()"></ion-toggle>
        <ion-label color="primary">Ver outras ocorrências</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content padding>
  <div #map_canvas class="map_canvas"></div>
</ion-content>

