<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" defaultHref="burnered"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openConfig()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
      <ion-button style="visibility: hidden;" id="infowindowhidden" (click)="useCurrentCoords()"></ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="mapConfig">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Configurações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-button fill="clear" (click)="useCurrentCoords()">
          <ion-icon name="pin"></ion-icon>&nbsp;&nbsp;Usar coordenada atual
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button fill="clear" (click)="reloadLocations()">
          <ion-icon name="eye"></ion-icon>&nbsp;&nbsp;Ver minhas ocorrências
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button fill="clear" (click)="startWatchingLocation()">
          <ion-icon [ngStyle]="{'color': btColor }" name="locate"></ion-icon>&nbsp;&nbsp;Ativar GPS contínuo
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button><ion-icon name="pin"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button mini (click)="addLocation()"><ion-icon name="add-circle"></ion-icon></ion-fab-button>
      <ion-fab-button mini (click)="removeLastLocation()"><ion-icon name="remove-circle"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <div #map_canvas class="map_canvas"></div>
  
</ion-content>

