<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button style="visibility: hidden;" id="infowindowhidden" (click)="useCurrentCoords()"></ion-button>
      <ion-button icon-only (click)="reloadLocations()">
        <ion-icon name="eye"></ion-icon>Show
      </ion-button>
      <ion-button icon-only [ngStyle]="{'background-color': btColor }" (click)="startWatchingLocation()">
        <ion-icon name="locate"></ion-icon>Tracking
      </ion-button>
    </ion-buttons>
    <ion-icon name="arrow-round-back" (click)="goBack()"></ion-icon>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button><ion-icon name="pin"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button mini (click)="addLocation()"><ion-icon name="add-circle"></ion-icon></ion-fab-button>
      <ion-fab-button mini (click)="removeLastLocation()"><ion-icon name="remove-circle"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <div #map_canvas class="map_canvas"></div>
  
</ion-content>

