<ion-header>
  <ion-toolbar>
    <ion-buttons end>
      <ion-button (click)="sendDataToServer()">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button (click)="setServerURL()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de lugares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="model">
    <ion-card>

      <ion-card-content>

        <ion-thumbnail slot="start">
          <img [src]="model.photoURI" *ngIf="model && model.photoURI">
        </ion-thumbnail>
        
        <ion-button block icon-right color="default" (click)="takePicture()" *ngIf="model && !model.photo">
          Capturar uma foto
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        
        <ion-button color="medium" size="small" (click)="cropUpload()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-card-content>
      
      <ion-card-content>
        <ion-label floating>Descrição</ion-label>
        <ion-input type="text" name="description" [(ngModel)]="model.description"></ion-input>
      </ion-card-content>

      <ion-card-content>
        <p>Lat/Long( <span [innerHTML]="model.lat"></span>, <span [innerHTML]="model.lng"></span> )</p>

        <ion-button icon-left clear slot="end" (click)="save()">
          <ion-icon name="done-all"></ion-icon> Salvar
        </ion-button>
      </ion-card-content>
      
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card *ngFor="let item of locations">
      <ion-card-content>
        <ion-thumbnail slot="start">
          <img [src]="item.location.photoURI" *ngIf="item.location.photoURI">
        </ion-thumbnail>
        <p>Criação: {{ item.location.timeref | date:'dd/MM/yyyy' }}</p>

        <p>Descrição: {{ item.location.description }}</p>
      </ion-card-content>
      <ion-card-content>
        <p>Lat/Long( {{ item.location.lat }} , {{ item.location.lng }} )</p>

        <ion-button icon-left clear slot="end" (click)="removeLocation(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button icon-left clear slot="end" (click)="sendDataToServer(item)" *ngIf="!item.location.send">
          <ion-icon name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-card-content>
      
    </ion-card>
  </ion-list>

</ion-content>