app-locations {
    .template-card {
        color: #0a0a14;
        --background: #fffce2;
    }
    .card-items{
        color: #0a0a14;
        --background: #e9ffe2;
    }
    .menu-card {
        color: black;
        font-size: large;
        position: absolute;
        right: 1px;
        top: 1px;
        z-index: 9;
    }
    .template-text{
        --background: white;
        color: black;
    }
}
