
.ios, .md {
    app-home {

        --background: mintcream;

        ion-content {
            width:100%;
            --background: mintcream;
        }

        ion-item {
            --background: transparent;
            color: #3c3c3b;
            font-weight: bolder;
            border: none;
        }

        .text1, .text2, .text3, .text4 {
            text-align:center;
            --color: #3c3c3b;
            font-size: medium;
        }
        .text2 {
            font-size: small;
            text-decoration: underline;
        }

        .text4 {
            font-size: large;
            --color: mintcream;
        }

        ion-button, ion-button:hover:not(.disable-hover) {
            --background: #3c3c3b;
            --color: #e4c98e;
        }

        ion-label{
            --color: #69f4f4;
            font-size: x-large;
            text-align: center;
            font-weight: bold;
            white-space: nowrap;
        }
    }
}
